body {
    text-align: center;
    background-color: wheat;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

a {
    background-color: white;
    margin: 40px;
}

h1 {
    color: yellowgreen;
    margin: 2%;
}

img {
    width: 700px;
    border: 4px solid rgb(173, 199, 255);
}

p {
    padding: 10px;
}

foooter {
    background-color: navy;
    color: whitesmoke;
}