body{
    margin: 0 auto;
    background-color: rgb(53, 53, 56);
    border: 20px solid rgb(53, 53, 56);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    max-width: 500px;
}

#main{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    margin: 0 auto;
    max-width: 600px;
    max-height: 1000px;
    border: 10px solid rgb(53, 53, 56);
    border-radius: 30px;
}

img {
    grid-column: 1/5;
    width: 100%;
    margin: 0 auto;
}

#post{
    background-color: white;
    grid-row: 2/3;
    margin: 0 auto;
    max-height: 100%;
    overflow: scroll;
    text-align: center;
}

#post h4{
    grid-column: 2/4;
    text-align: center;
    color:rgb(93, 105, 158);
}

#post h1{
    grid-column: 2/4;
    text-align: center;
}

#post p {
    font-size: 1.5em;
    grid-row: 2/4;
}

footer{
    grid-row: 3/4;
    display: inline;
    width: 100%;
    max-height: 100%;
    display: flex;
    color: white;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.box{
    padding: 10%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    background-color: rgb(52, 95, 131);
}
